<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14908658070-1o6b6i62s80ba3gn19paicjqlkpq8tlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14908658070-1o6b6i62s80ba3gn19paicjqlkpq8tlj</string>
	<key>API_KEY</key>
	<string>AIzaSyAOCk4klzoKXxSq_T_kj2rTWmZWaXY7cEY</string>
	<key>GCM_SENDER_ID</key>
	<string>14908658070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financas</string>
	<key>PROJECT_ID</key>
	<string>financas-fb5dd</string>
	<key>STORAGE_BUCKET</key>
	<string>financas-fb5dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14908658070:ios:19cae68c516fbb3d660db7</string>
</dict>
</plist>